@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.custom-background {
  background-color: #E6E6FA !important;
}

.custom-navbar {
  background-color: #1C497E !important;
}

.custom-navbar>div>a {
  text-decoration: none !important;
  padding: 0px 20px;
}